body, h1, div, ul, li{
  margin: 0;
  padding: 0;
  border: 0;

  font-family: 'Raleway', sans-serif;

  background: transparent;
}


.clock-div{
  background: #aeca8e;
  border: 1px solid black;
}

.clock-div div{
  display: flex;
  justify-content: space-between;
}


.weather div {
  border: 1px solid black;
  background: #03a9f4;
  display: flex;
  justify-content: center;
}

.auto {
  display: flex;
  background: #d04f4f;
  justify-content: center;
  flex-direction: column;
}

.auto ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tabs {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.tabs ul {
  display: flex;
  width: 100%;
}

.tabs li{
  list-style: none;
  border: 1px solid black;
  padding: 10px;
  background: #ffeb3b;
  border-radius: 10px 10px 0 0;
  width: 100%;
  text-align: center;
}

.pane {
  border: 1px solid black;
  padding: 10px;
  background: #ffeb3b;
  width: inherit;
  display: inline-block;
  text-align: center;
}
