body, h1, div{
  margin: 0;
  padding: 0;
  border: 0;

  font-family: 'Raleway', sans-serif;

  background: transparent;
}


.clock-div{
  background: #aeca8e;
  border: 1px solid black;
}

.clock-div div{
  display: flex;
  justify-content: space-between;
}


.weather div {
  border: 1px solid black;
  background: #03a9f4;
  display: flex;
  justify-content: center;
}

.auto {
  display: flex;
  background: #d04f4f;
  justify-content: center;
  flex-direction: column;
}

.auto ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}
